docs/password-reset-n8n-workflow.json
{
  "name": "Oracle DBA Secure Password Reset",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f9c3cdfb-4e5d-4754-92e5-4ff77c472077",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4d5f77ac-26e9-4762-a55a-71f7d95e7d10",
      "name": "Admin Password Reset Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1000, 0],
      "webhookId": "f9c3cdfb-4e5d-4754-92e5-4ff77c472077"
    },
    {
      "parameters": {
        "jsCode": "const item=$input.first().json;const h={};for(const [k,v] of Object.entries(item.headers||{})){h[k.toLowerCase()]=Array.isArray(v)?String(v[0]||''):String(v||'');}const expected=$env.ADMIN_WEBHOOK_SECRET||'replace-with-strong-shared-secret';const provided=h['x-admin-webhook-secret']||'';if(!expected||provided!==expected){return [{json:{route:'error',success:false,message:'Unauthorized.'}}];}const body=item.body&&typeof item.body==='object'?item.body:item;const fwd=String(h['x-forwarded-for']||'').split(',')[0].trim();return [{json:{route:String(body.flow||'').trim(),email:body.email,token:body.token,newPassword:body.newPassword,requestIp:String(body.requestIp||fwd||h['x-real-ip']||'unknown').slice(0,64),userAgent:String(body.userAgent||h['user-agent']||'unknown').slice(0,512)}}];"
      },
      "id": "2e5f59a0-494d-4c7b-a456-6b7d03431f8f",
      "name": "Validate Secret and Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-780, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.route}}",
              "operation": "equal",
              "value2": "forgot-password"
            }
          ]
        }
      },
      "id": "d01d1965-3206-4425-a53e-9d6d6907f596",
      "name": "Is Forgot Password",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-560, 0]
    },
    {
      "parameters": {
        "jsCode": "const crypto=require('crypto');const generic={success:true,message:'If the email exists, a reset link has been sent.'};function sqlString(v,n){return String(v||'').slice(0,n).replace(/'/g,\"''\");}const email=String($json.email||'').trim().toLowerCase();const requestIp=String($json.requestIp||'unknown').slice(0,64);const userAgent=String($json.userAgent||'unknown').slice(0,512);if(!/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email)||email.length>320){return [{json:{shouldQuery:false,response:generic}}];}const token=crypto.randomBytes(48).toString('base64url');const tokenHash=crypto.createHash('sha256').update(token,'utf8').digest('hex');const resetBaseUrl=$env.NEXTJS_RESET_BASE_URL||'https://your-nextjs-domain.com/reset-password';const resetUrl=`${resetBaseUrl}?token=${encodeURIComponent(token)}`;const oracleSql=\"SELECT app_auth_reset_pkg.request_password_reset_json(p_email => '\"+sqlString(email,320)+\"', p_token_hash => '\"+tokenHash+\"', p_request_ip => '\"+sqlString(requestIp,64)+\"', p_user_agent => '\"+sqlString(userAgent,512)+\"') AS result_json FROM dual\";return [{json:{shouldQuery:true,email,token,tokenHash,resetUrl,requestIp,userAgent,oracleSql,response:generic}}];"
      },
      "id": "b2173f90-dfe0-4651-9595-464dc9a81319",
      "name": "Prepare Forgot Password",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-320, -240]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.shouldQuery}}",
              "value2": true
            }
          ]
        }
      },
      "id": "53975469-2a3c-4f1c-88e8-52a67063ca41",
      "name": "Forgot Should Query Oracle",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-80, -240]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.oracleSql}}"
      },
      "id": "af933810-028b-4847-ae14-c399728d2be5",
      "name": "Create Reset Request",
      "type": "n8n-nodes-base.oracledb",
      "typeVersion": 1,
      "position": [160, -320],
      "credentials": {
        "oracleDbApi": {
          "id": "REPLACE_WITH_ORACLE_CREDENTIAL_ID",
          "name": "Oracle Database account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row=$input.first().json;const raw=row.RESULT_JSON||row.result_json||row.Result_JSON||Object.values(row)[0];let result={};try{result=typeof raw==='string'?JSON.parse(raw):raw;}catch{result={};}const prepared=$node['Prepare Forgot Password'].json;return [{json:{...prepared,shouldSend:result.shouldSend===true,dbResult:result}}];"
      },
      "id": "8ab1bb59-21d0-4ce7-94f3-3b7ccad21d24",
      "name": "Parse Forgot Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, -320]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.shouldSend}}",
              "value2": true
            }
          ]
        }
      },
      "id": "42209038-cdc3-4f19-9c55-c4a1af0b84c3",
      "name": "Should Send Reset Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [640, -320]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.PASSWORD_RESET_FROM_EMAIL || 'no-reply@your-company.com'}}",
        "toEmail": "={{$json.email}}",
        "subject": "Reset your Oracle DBA Portal password",
        "html": "<!doctype html><html><body style='margin:0;background:#f6f8fb;font-family:Arial,sans-serif;color:#172033;'><table width='100%' cellpadding='0' cellspacing='0' role='presentation'><tr><td align='center' style='padding:32px 16px;'><table width='560' cellpadding='0' cellspacing='0' role='presentation' style='max-width:560px;background:#ffffff;border-radius:8px;border:1px solid #d9e2ef;'><tr><td style='padding:28px;'><h1 style='margin:0 0 12px;font-size:22px;color:#111827;'>Reset your password</h1><p style='margin:0 0 20px;line-height:1.6;'>We received a request to reset your Oracle DBA Portal password.</p><p style='margin:0 0 24px;'><a href='{{$json.resetUrl}}' style='display:inline-block;background:#dc2626;color:#ffffff;text-decoration:none;padding:12px 18px;border-radius:6px;font-weight:bold;'>Reset password</a></p><p style='margin:0 0 10px;line-height:1.6;'>This link expires in 15 minutes and can be used only once.</p><p style='margin:0 0 10px;line-height:1.6;'>If the button does not work, paste this URL into your browser:</p><p style='word-break:break-all;margin:0 0 20px;color:#2563eb;'>{{$json.resetUrl}}</p><p style='margin:0;line-height:1.6;color:#4b5563;'>If you did not request this reset, ignore this email.</p></td></tr></table></td></tr></table></body></html>",
        "options": {}
      },
      "id": "f2578755-3ef1-4b24-9034-fcf1e4cb82c1",
      "name": "Send Reset Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [880, -400],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{json:{success:true,message:'If the email exists, a reset link has been sent.'}}];"
      },
      "id": "19a4c3a3-dd81-40d6-a22c-54283f8454e9",
      "name": "Forgot Generic Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, -240]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "53e2e067-df3d-48f2-9d7e-156726105968",
      "name": "Respond Forgot Password",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1360, -240]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.route}}",
              "operation": "equal",
              "value2": "reset-password"
            }
          ]
        }
      },
      "id": "e02cc5cd-2604-4a01-9c0c-df9f51be0583",
      "name": "Is Reset Password",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-320, 120]
    },
    {
      "parameters": {
        "jsCode": "const crypto=require('crypto');const failure={success:false,message:'Invalid or expired reset link.'};function sqlString(v,n){return String(v||'').slice(0,n).replace(/'/g,\"''\");}function weak(p){return p.length<12||!/[a-z]/.test(p)||!/[A-Z]/.test(p)||!/[0-9]/.test(p)||!/[^A-Za-z0-9]/.test(p);}const token=String($json.token||'').trim();const newPassword=String($json.newPassword||'');const requestIp=String($json.requestIp||'unknown').slice(0,64);const userAgent=String($json.userAgent||'unknown').slice(0,512);if(token.length<32||token.length>512||weak(newPassword)){return [{json:{shouldQuery:false,...failure}}];}const tokenHash=crypto.createHash('sha256').update(token,'utf8').digest('hex');const newSalt=crypto.randomBytes(32).toString('hex');const newPasswordHash=crypto.createHash('sha256').update(`${newSalt}:${newPassword}`,'utf8').digest('hex');const oracleSql=\"SELECT app_auth_reset_pkg.reset_password_json(p_token_hash => '\"+tokenHash+\"', p_new_salt => '\"+newSalt+\"', p_new_password_hash => '\"+newPasswordHash+\"', p_request_ip => '\"+sqlString(requestIp,64)+\"', p_user_agent => '\"+sqlString(userAgent,512)+\"') AS result_json FROM dual\";return [{json:{shouldQuery:true,oracleSql}}];"
      },
      "id": "8c9b13b8-8f76-4030-b03c-7844ddb83d12",
      "name": "Prepare Reset Password",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-80, 40]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.shouldQuery}}",
              "value2": true
            }
          ]
        }
      },
      "id": "75b20105-5a42-4105-9911-1f7ee63a6d59",
      "name": "Reset Should Query Oracle",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [160, 40]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.oracleSql}}"
      },
      "id": "aeb386f1-95d5-4451-bb65-3cceac60caf8",
      "name": "Reset Password Procedure",
      "type": "n8n-nodes-base.oracledb",
      "typeVersion": 1,
      "position": [400, -40],
      "credentials": {
        "oracleDbApi": {
          "id": "REPLACE_WITH_ORACLE_CREDENTIAL_ID",
          "name": "Oracle Database account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row=$input.first().json;const raw=row.RESULT_JSON||row.result_json||row.Result_JSON||Object.values(row)[0];try{const parsed=typeof raw==='string'?JSON.parse(raw):raw;return [{json:{success:parsed.success===true,message:parsed.message||'Invalid or expired reset link.'}}];}catch{return [{json:{success:false,message:'Invalid or expired reset link.'}}];}"
      },
      "id": "af6d5ad0-e113-44d4-9e2b-32a68615d311",
      "name": "Parse Reset Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, -40]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "da0dc601-7a1a-43dc-b831-bb531a139140",
      "name": "Respond Reset Password",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [880, 40]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "b1e477f8-cae4-403e-8936-51d53dc5ad38",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-80, 280]
    }
  ],
  "connections": {
    "Admin Password Reset Webhook": {
      "main": [
        [
          {
            "node": "Validate Secret and Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Secret and Route": {
      "main": [
        [
          {
            "node": "Is Forgot Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Forgot Password": {
      "main": [
        [
          {
            "node": "Prepare Forgot Password",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Reset Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Forgot Password": {
      "main": [
        [
          {
            "node": "Forgot Should Query Oracle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forgot Should Query Oracle": {
      "main": [
        [
          {
            "node": "Create Reset Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forgot Generic Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Reset Request": {
      "main": [
        [
          {
            "node": "Parse Forgot Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Forgot Result": {
      "main": [
        [
          {
            "node": "Should Send Reset Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Reset Email": {
      "main": [
        [
          {
            "node": "Send Reset Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forgot Generic Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reset Email": {
      "main": [
        [
          {
            "node": "Forgot Generic Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forgot Generic Response": {
      "main": [
        [
          {
            "node": "Respond Forgot Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Reset Password": {
      "main": [
        [
          {
            "node": "Prepare Reset Password",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Reset Password": {
      "main": [
        [
          {
            "node": "Reset Should Query Oracle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Should Query Oracle": {
      "main": [
        [
          {
            "node": "Reset Password Procedure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Reset Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Password Procedure": {
      "main": [
        [
          {
            "node": "Parse Reset Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reset Result": {
      "main": [
        [
          {
            "node": "Respond Reset Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-27T00:00:00.000Z",
  "versionId": "password-reset-v1"
}
