docs/security-posture-n8n-workflow.json
{
  "name": "Security Posture - Process Nessus PDF",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "security-posture", "responseMode": "onReceived", "options": {} },
      "id": "2cc346d1-4ceb-43b0-ae8c-000000000001",
      "name": "Security Posture Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "security-posture"
    },
    {
      "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.body.action }}", "rightValue": "process_pdf", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } },
      "id": "2cc346d1-4ceb-43b0-ae8c-000000000002",
      "name": "Validate Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [480, 300]
    },
    {
      "parameters": { "jsCode": "const incoming = $input.first().json;\nconst rawHeaders = incoming.headers || {};\nconst headers = {};\nfor (const [key, value] of Object.entries(rawHeaders)) {\n  headers[key.toLowerCase()] = Array.isArray(value) ? String(value[0] || '') : String(value || '');\n}\nconst securityToken = headers['x-security-posture-token'] || '';\nconst adminSecret = headers['x-admin-webhook-secret'] || '';\nconst expectedSecurityToken = $env.SECURITY_POSTURE_N8N_WEBHOOK_TOKEN || 'replace-with-strong-shared-token';\nconst expectedAdminSecret = $env.ADMIN_WEBHOOK_SECRET || 'replace-with-strong-shared-secret';\nconst securityTokenOk = expectedSecurityToken && securityToken === expectedSecurityToken;\nconst adminSecretOk = expectedAdminSecret && adminSecret === expectedAdminSecret;\nif (!securityTokenOk && !adminSecretOk) throw new Error('Invalid security posture webhook token');\nconst body = incoming.body || incoming;\nif (!Number.isInteger(Number(body.document_id)) || !body.file_path) throw new Error('document_id and file_path are required');\nlet filePath = String(body.file_path).trim();\nconst containerUploadDir = $env.SECURITY_POSTURE_N8N_UPLOAD_DIR || '';\nif (containerUploadDir) {\n  const filename = filePath.split(/[/\\]/).pop() || '';\n  filePath = containerUploadDir.endsWith('/') || containerUploadDir.endsWith('\\')\n    ? `${containerUploadDir}${filename}`\n    : `${containerUploadDir}/${filename}`;\n}\nreturn [{ json: { document_id: Number(body.document_id), database_id: Number(body.database_id), file_path: filePath } }];" },
      "id": "2cc346d1-4ceb-43b0-ae8c-000000000003",
      "name": "Validate Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 200]
    },
    {
      "parameters": { "operation": "executeQuery", "query": "UPDATE app_security_posture_reports SET processing_status = 'PROCESSING', error_message = NULL WHERE report_id = :document_id AND is_active = 'Y'", "options": { "queryReplacement": "={{ { document_id: $json.document_id } }}" } },
      "id": "2cc346d1-4ceb-43b0-ae8c-000000000004",
      "name": "Mark Processing",
      "type": "n8n-nodes-oracle.oracle",
      "typeVersion": 1,
      "position": [920, 200],
      "credentials": { "oracle": { "id": "REPLACE_WITH_ORACLE_CREDENTIAL_ID", "name": "Oracle APP_DBA" } }
    },
    {
      "parameters": { "filePath": "={{ $('Validate Request').first().json.file_path }}", "options": {} },
      "id": "2cc346d1-4ceb-43b0-ae8c-000000000005",
      "name": "Read Uploaded PDF",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [1140, 200],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": { "operation": "pdf", "binaryPropertyName": "data", "options": {} },
      "id": "2cc346d1-4ceb-43b0-ae8c-000000000006",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [1360, 200],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": { "resource": "text", "operation": "message", "modelId": { "__rl": true, "mode": "list", "value": "gpt-4.1-mini" }, "messages": { "values": [{ "content": "You are a senior Oracle database security analyst. Summarize this Nessus report for the client database. State overall risk, critical/high findings, Oracle-specific exposure, prioritised remediation, and notable false-positive/validation caveats. Be concise and use Markdown headings.\n\nREPORT:\n{{ $json.text }}", "role": "user" }] }, "options": { "temperature": 0.2 } },
      "id": "2cc346d1-4ceb-43b0-ae8c-000000000007",
      "name": "Generate AI Summary",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1580, 200],
      "onError": "continueErrorOutput",
      "credentials": { "openAiApi": { "id": "REPLACE_WITH_OPENAI_CREDENTIAL_ID", "name": "OpenAI API" } }
    },
    {
      "parameters": { "operation": "executeQuery", "query": "UPDATE app_security_posture_reports SET processing_status = 'COMPLETED', ai_summary = :summary, ai_model = :model, summary_generated_at = SYSTIMESTAMP, error_message = NULL WHERE report_id = :document_id AND is_active = 'Y'", "options": { "queryReplacement": "={{ { document_id: $('Validate Request').first().json.document_id, summary: $json.message?.content || $json.text || JSON.stringify($json), model: 'gpt-4.1-mini' } }}" } },
      "id": "2cc346d1-4ceb-43b0-ae8c-000000000008",
      "name": "Save Completed Summary",
      "type": "n8n-nodes-oracle.oracle",
      "typeVersion": 1,
      "position": [1800, 200],
      "credentials": { "oracle": { "id": "REPLACE_WITH_ORACLE_CREDENTIAL_ID", "name": "Oracle APP_DBA" } }
    },
    {
      "parameters": { "operation": "executeQuery", "query": "UPDATE app_security_posture_reports SET processing_status = 'FAILED', error_message = :message WHERE report_id = :document_id AND is_active = 'Y'", "options": { "queryReplacement": "={{ { document_id: $('Validate Request').first().json.document_id, message: $json.error?.message || 'PDF extraction or AI summary generation failed' } }}" } },
      "id": "2cc346d1-4ceb-43b0-ae8c-000000000009",
      "name": "Persist Processing Failure",
      "type": "n8n-nodes-oracle.oracle",
      "typeVersion": 1,
      "position": [1580, 420],
      "continueOnFail": true,
      "credentials": { "oracle": { "id": "REPLACE_WITH_ORACLE_CREDENTIAL_ID", "name": "Oracle APP_DBA" } }
    }
  ],
  "connections": {
    "Security Posture Webhook": { "main": [[{ "node": "Validate Action", "type": "main", "index": 0 }]] },
    "Validate Action": { "main": [[{ "node": "Validate Request", "type": "main", "index": 0 }], []] },
    "Validate Request": { "main": [[{ "node": "Mark Processing", "type": "main", "index": 0 }]] },
    "Mark Processing": { "main": [[{ "node": "Read Uploaded PDF", "type": "main", "index": 0 }]] },
    "Read Uploaded PDF": { "main": [[{ "node": "Extract PDF Text", "type": "main", "index": 0 }], [{ "node": "Persist Processing Failure", "type": "main", "index": 0 }]] },
    "Extract PDF Text": { "main": [[{ "node": "Generate AI Summary", "type": "main", "index": 0 }], [{ "node": "Persist Processing Failure", "type": "main", "index": 0 }]] },
    "Generate AI Summary": { "main": [[{ "node": "Save Completed Summary", "type": "main", "index": 0 }], [{ "node": "Persist Processing Failure", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1", "errorWorkflow": "" },
  "active": false,
  "versionId": "f7a79a46-97e2-4f9b-9a22-000000000001",
  "meta": { "templateCredsSetupCompleted": false },
  "tags": []
}
